certifi==2021.5.30
charset-normalizer==2.0.3
contextlib2==21.6.0
dnspython==2.1.0
docopt==0.6.2
idna==3.2
lxml==4.6.3
Pillow==8.3.1
psycopg2==2.9.1
pydig==0.4.0
python-pptx==0.6.19
pytz==2021.1
reportlab==3.5.68
requests==2.26.0
reverse-ip==1.1.0
schema==0.7.4
urllib3==1.26.6
whois-api==1.1.0
XlsxWriter==1.4.4
